*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    width: 355px;
    margin: auto;
    background-color: #f4f4f4;
}

.container{
    display: flex;
    flex-direction: row; 
    background-color: #f4f4f4;
}

.left-side-icons{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #235c56;
    color: white;
}

.top-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    flex: 1;
}

.top-side i{
    margin-bottom: 15px;
}

.top-side .line{
    margin-bottom: 10px;
    border: 1px solid #00000054;
    width: 30px;    
    border-radius: 1px;
}

.bottom-side .line{
    margin-top: 10px;
    border: 1px solid #00000054;
    width: 30px;
    border-radius: 1px;
}

.bottom-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-side i{
    margin-top: 15px;
}

.bottom-side img{
    margin: auto;
    width: 35px;
    height: 35px;
    margin-top: 15px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #128C7E;
    color: white;
}

.search{
    display: flex;
    width: 100%;
    background-color: #128C7E;
    padding-left: 20px;
}

 .chat-body{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    background-color: #128C7E;
    color: white;
}

.chat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #128C7E;
    color: white;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: left;
}

.chat-info{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    gap: 5px;
}

.time{
    justify-content: flex-end;
}